@import 'vars';
@import 'mixins';

@include reset;

main {
    background-image: url('../slike/intro.jpg');
    background-size: cover;
    height: 100vh;
    .logo {
        float: right;
        font-size: 22px;
        background: $main-red-color;
        height: 100%;
        margin-left: 22px;
        i {
            color: #fff;
            padding: 14px 20px;
        }
    }
    nav {
        height: 50px;
        background: $main-blue-color;
        ul {
            list-style: none;
            padding-top: 15px;
            float: right;
            li {
                display: inline-block;
                padding: 0 20px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

