@import 'vars';
@import 'mixins';

@include reset;

main {
    background-image: url('../slike/intro.jpg');
    background-size: cover;
    height: 100vh;
    // relative
    position: relative;
    @include clearfix;
    .logo {
        float: right;
        font-size: 22px;
        background: $main-red-color;
        height: 100%;
        margin-left: 22px;
        i {
            color: #fff;
            padding: 14px 20px;
        }
    }
    nav {
        height: 50px;
        background: $main-blue-color;
        @include clearfix;
        ul {
            list-style: none;
            padding-top: 15px;
            float: right;
            li {
                display: inline-block;
                padding: 0 20px;
                a {
                    text-decoration: none;
                    color: #fff;

                     &:hover {
                         text-decoration: underline;
                     }
                }
            }
        }
    }
    .text-container {
        background: #16374b42;
        text-align: center;
        // absolute
        position: absolute;
        bottom: 0;
        width: 100%;
        h1, h5 {
            color: #fff;
            padding: 5px;
        }
        h5:nth-child(3) {
            padding-bottom: 10px;
        }

    }

}

#buttons {
    padding-right: 50px;
    padding: 30px 0;
    @include clearfix;
    a {
        @include buttons;
        text-decoration: none;
        margin: 0 20px;
        float: right;

        &:hover {
            background: $buttons-hover-color;
            color: #fff;
        }
    }


}

#galery {
    padding: 50px 35vw;
    background: $sections-background-color;
    text-align: center;
    span {
        color: $main-red-color;
    }
    h2, span {
        display: none;
    }
    h2 {
        margin-top: 60px;
    }
    .container {
        @include clearfix;
        .right-image {
            float: right;
        }
        &:hover > h2,&:hover > span {
            display: block;
        }
        &:hover > img {
            opacity: 1;
        }
    }
    img {
        transition: ease-in-out 300ms;
        opacity: .7;
        border-radius: 50%;
        width: 150px;
        float: left;
        display: block;
        padding: 18px 0;
    }
}


#pricing {
    text-align: center;
    a {
        display: none;
    }
    h1 {
        padding: 20px 0;
        text-transform: uppercase;
    }

    table {
        border-collapse: collapse;
        text-align: center;
        margin: 80px auto;
        width: 50%;
        td {
            color: #fff;
        }
        thead {
            td:last-child {
                border: none;
                padding: 10px 30px;
                background: $main-red-color;
            }
        }
        tbody {
            td {
                padding: 10px 30px;
                border: 1px solid $main-text-color;
            }
            tr:first-child {
                & > td:nth-child(1), & > td:nth-child(2) {
                    border: none;
                }
            }
        }
        .location {
            background: $main-red-color;
        }
        .dark {
            background: $main-blue-color;
        }
        .bright {
            color: $main-text-color;
        }
    }
}

#contact {
    padding: 0 280px;
    @include clearfix;
    text-align: center;
    h1 {
        text-transform: uppercase;
        margin: 52px 0;
    }
    .map {
        float: left;
    }
    form {
        padding: 20px;
        background-color: $main-red-color;
        width: 50%;
        textarea {
            display: block;
            width: 100%;
            height: 90px;
        }
        @include clearfix;
        float: right;
        #select {
            width: 20%;
            float: left;
        }
        input, select {
            height: 30px;
        }
        input[type="text"] {
            width: 70%;
            float: right;
        }
        input[type="email"] {
            width: 100%;
            margin: 20px 0;
        }
    }
}

footer {
    background: $main-blue-color;
    padding: 15px 0;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    span {
        color: $main-red-color;
    }
}


@media screen and (max-width: 1350px) {

    #galery {
        padding: 50px 15vw;
    }


    #contact {
        padding: 0 150px;
        .map, form {
            float: none;
            margin: 30px 0;
        }
        form {
            width: 100%;
            margin: 0 auto;
        }

        .map {
            iframe {
                width: 30vw;
                height: 20vh;
            }
        }

    }
}

@media screen and (max-width: 650px) {
    main {
        background-image: none;
        background-color: $main-blue-color;
        height: 60vh;
        h1 {
            font-size: 3.2em;
        }
        nav {
            .logo {
                width: 100%;
                float: none;
                margin: 0;
            }
            ul {
                float: none;
                li {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 30px;
                }
            }
        }
    }
    #buttons {
        a {
            padding: 10px 15px;
            margin:0 3px;
        }
    }
    
    #galery {

        h2, span {
            display: block;
        }
        .container {
            width: 100%;
            img, .right-image {
                float: none;
                margin: 0 auto;
            }
            img {
                width: 200px;
            }
        }
    }

    #pricing {
        a {
            margin: 20px 0;
            display: inline-block;
            @include buttons;
            text-decoration: none;
        }
        table {
            display: none;
        }
    }
    
    #contact {
        padding: 0 10px;
        .map {
            iframe {
                width: 50vw;
                height: 30vh;
            }
        }
        form {
            #select {
                width: 100%;
            }
            input[type="text"] {
                width: 100%;
                margin-top: 20px;
            }

        }
    }

}

@media screen and (max-width: 420px) {
    main {
        h1 {
            font-size: 2.7em;
        }
    }

    #buttons {
        a {
            float: none; 
            display: block;
            text-align: center;
            width: 80%;
            margin: 20px auto;
        }
    }

}
@media screen and (max-width: 325px) {
    main {
        height: 80vh;
    }

    #galery {
        .container {

            img {
                width: 130px;
            }
        }
    }

}


